name: "Make bundle"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          path: main

      - uses: actions/checkout@v4
        with:
          ref: build
          path: build

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4
        with:
          cache-dependency-path: main/pnpm-lock.yaml
          node-version: 22
          cache: pnpm

      - name: Bundle and push
        run: |
          cd main
          pnpm install
          pnpm build

          cp ./dist/spotifyGenres.js ../build
          cd ../build

          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "ci: upload new bundle"
          git push

      - name: Purge jsDelivr cache
        run: curl https://purge.jsdelivr.net/gh/Vexcited/better-spotify-genres@build/spotifyGenres.js
